body * {
  text-align: center;
  color: #000f08;

  font-family: 'Open Sans', sans-serif;
}

.imagen-viajes {
max-width: 2.5%!important;
}

.navbar-brand{
  color: black;
  font-size: medium;
  justify-content: left;
}

.titulo-seccion{
    color: black;
    justify-content: center;
}

.redes-sociales{
    display: flex;
    justify-content:center;
}

.redes-sociales i{
  font-size: 40px;
  padding: 30px;
}